[submodule "jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane
[submodule "dark-tango-with-jane"]
	path = themes/dark-tango-with-jane
	url = https://github.com/snosov1/hugo-theme-jane.git
